
<!-- display http error -->
<mat-card class="server-error-message" *ngIf="_httpResponseError.length != 0">

    <mat-card-header>
        <div class="icon-and-heading-text">
            <mat-icon class="error-icon"> notifications_none< </mat-icon>
            <div> Alert!</div>
        </div>
    </mat-card-header>

    <mat-card-content class="error-message">           
        {{_httpResponseError}}
    </mat-card-content>

</mat-card>

<!-- weather details container -->
<div class="weather-content-container">

    <!-- display current date -->
    <mat-card class="weather-item-container">
        <mat-card-header>
            <div class="icon-and-heading-text">
                <mat-icon class="icon"> calendar_month </mat-icon>

                <div> Today</div>
            </div>
        </mat-card-header>

        <mat-card-content class="weather-data-value">
            {{CurrentDate | date:'yyyy-MM-dd HH:mm:ss'}}
        </mat-card-content>
    </mat-card>

    <!-- display when geolocation error found -->
    <div *ngIf="_geoLocationError">
        <mat-card class="weather-item-container">
            <mat-card-header>
                <div class="icon-and-heading-text">
                    <mat-icon class="icon"> report</mat-icon>
                    <div> Message</div>
                </div>
            </mat-card-header>
            <mat-card-content class="weather-data-value">
                <p>Weather details could not be loaded due to unavailability of current geolocation information. </p>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- display when geolocation error not found-->
    <div *ngIf="!_geoLocationError">

        <mat-card class="weather-item-container">
            <mat-card-header>
                <div class="icon-and-heading-text">
                    <mat-icon class="icon"> my_location</mat-icon>
                    <div> Current location</div>
                </div>
            </mat-card-header>
            <mat-card-content class="weather-data-value">

                <!-- from http response -->
                [ {{_currentWeather.latitude}} ,  {{_currentWeather.longitude}} ]

                <!-- Direct from geoLocation API 
                [ {{Latitude}} , {{Longitude}} ] -->

            </mat-card-content>
        </mat-card>

        <mat-card class="weather-item-container">
            <mat-card-header>
                <div class="icon-and-heading-text ">
                    <mat-icon class="icon">thermostat</mat-icon>
                    <div>Temperature</div>
                </div>
            </mat-card-header>
            <mat-card-content class="weather-data-value">

                {{
                ((_currentWeatherTemperature) | number:'2.0-1') +" "+
                _currentWeatherTemperatureUnit
                }}
                <br/>
                <mat-radio-group class="temperature-unit-conversion" aria-label="Select an option">
                    <mat-radio-button #selectedOption (change)="ChangeTemperatureUnit(selectedOption.value)"
                        *ngFor="let unit of _temperatureUnits" [checked]="unit.checked" [value]="unit.id">
                        {{unit.name}}
                    </mat-radio-button>
                </mat-radio-group>

            </mat-card-content>
        </mat-card>

        <mat-card class="weather-item-container">
            <mat-card-header>
                <div class="icon-and-heading-text">
                    <mat-icon class="icon"> thunderstorm</mat-icon>
                    <div>Rain</div>
                </div>
            </mat-card-header>
            <mat-card-content class="weather-data-value">{{_currentWeather.current.rain +" "+
                _currentWeather.current_units.rain}}</mat-card-content>
        </mat-card>

        <mat-card class="weather-item-container">
            <mat-card-header>
                <div class="icon-and-heading-text">
                    <mat-icon class="icon"> water_drop</mat-icon>
                    <div>Humidity</div>
                </div>
            </mat-card-header>
            <mat-card-content class="weather-data-value">{{((_currentWeather.current.relative_humidity_2m) | number:'2.0-1')
                +" "+ _currentWeather.current_units.relative_humidity_2m}}</mat-card-content>
        </mat-card>

        <mat-card class="weather-item-container">
            <mat-card-header>
                <div class="icon-and-heading-text">
                    <mat-icon class="icon">speed</mat-icon>
                    <div>Wind speed</div>
                </div>
            </mat-card-header>
            <mat-card-content class="weather-data-value">
                {{((_currentWeather.current.wind_speed_10m) | number:'2.0-1') +" "+
                _currentWeather.current_units.wind_speed_10m}}
            </mat-card-content>
        </mat-card>
    </div>

</div>

