/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { 
    
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container{
    max-width: 1200px;
    margin: auto;
 
}

.weather-content-container {
    background-image: url('^assets/3.1.jpg');
    background-color: white;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.weather-item-container {
    opacity: 0.7;
}

 .weather-data-value{
    font-size: 16px;
}

